frontend/.idea/
*.xml
__pycache__/
backend/google-cloud-vision-key.json
backend/storytime-key.json
.DS_STORE
venv
.idea
backend/secrets.py
backend/secrets-real.py
backend/secrets-real.py
backend/test*
node_modules/
.vscode/
